body{

    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif;
    background-image: linear-gradient(rgb(230, 230, 230), transparent),
     url(imagens/icons/background.png);
    background-attachment: fixed;

}

h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #333;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


#header {
    background-color: #2c3e50; /* Cor escura para o cabeçalho */
    color: #fff; /* Texto claro */
    text-align: center;
    padding-top: 50px;
    padding-bottom: 60px;

}

#header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    letter-spacing: 2px;
    color: #fff; /* Adicionado o ponto e vírgula aqui */
    padding: 5px;
    width: 100%;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.5);
}

#nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 20px 0;
 
}

#nav li {
    margin: 0 15px;
 
}

#nav a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
 
}

#nav a:hover {
    color: #539eac; /* Cor de destaque no hover */
    transition: background-color 20s ease;
}



.carousel {
    position: relative;
    max-width: 800px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 4px 4px 20px rgb(122, 122, 122);
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

.carousel-images img {
    min-width: 100%;
    transition: opacity 0.5s ease;

}

/* Botões de navegação */
.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0); /* Fundo translúcido */
    color: white;
    border: none;
    padding: 20px;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
}

.carousel .prev {
    left: 10px;  /* Posição do botão "anterior" à esquerda */
    
}

.carousel .next {
    right: 10px; /* Posição do botão "próximo" à direita */
}

.carousel button:hover {
    background-color: rgba(255, 255, 255, 0);  /* Altera a cor do botão ao passar o mouse */
}
/* Título Centralizado para Cardápio */

.title-section {

    padding: 40px;
    text-align: center;
    position: relative;
    
}



/*icone hamburguer*/

.imgburger1 {
    padding:15px;
    height: 100px;
    width: auto;
    float: right;
    margin-right: 507px;
    padding-bottom:50px;
    margin-top: -55px;
}

.imgburger2 {
    padding:15px;
    height: 100px;
    width: auto;
    float: right;
    margin-right: 118px;
    padding-bottom:50px;
    margin-top: -55px;
}


.imgburger3 {
    margin:0;
    padding:15px;
    height: 100px;
    width: auto;
    float: right;
    margin-right: 502px;
    padding-bottom:50px;
    margin-top: -55px;

} 

.imgburger4 {
    margin:0;
    padding:15px;
    height: 100px;
    width: auto;
    float: right;
    margin-right: 128px;
    padding-bottom:50px;
    padding-left: 60px;
    margin-top: -55px;
    margin-left: 60px;
}



.title-section h2 {
    font-size: 2rem;
    color: #000000;
    margin: 0 auto;
    font-weight: bold;
}

.title-section h3 {

    font-size: 1.1rem;
    color: #4b4b4b;

}


.title-section h4 {
    font-size: 1.2rem;
    color: #4b4b4b;
    margin: 0;
    font-weight: bold;
}



.container {
    display: flex;
    margin: 20px;
}

/* Barra lateral (Categorias) */
.sidebar {
    width: 25%;
    background-color: #f4f4f4;
    padding:15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    height:55vh;
}

.sidebar h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #2c3e50;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.7s ease;
    border-radius: 20px 4px 20px;
}

.sidebar li:hover {
    background-color: #539eac;
    color: #fff;
}

.sidebar a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

/* Conteúdo principal */
.main-content {
    width: 75%;
    padding: 15px;

}

/* Título da seção */
.main-content h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 15px;
}

/* Estilização da grade */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    gap: 20px;
}

.grid-item {
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: #fff;
    border-radius: 5px 28px 4px 30px;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.grid-item p {
    font-size: 1rem;
    color: #333;
    font-weight: bold;
}






/* PÁGINA DE CONTATO */


.contato-conteiner{

display: flex;
align-items: center;
justify-content: center;
height: 80vh;



}

form{

font-family: 'Playfair Display';
flex-direction: column;
margin-bottom: 60px;
}

form input, form textarea {

outline: unset;
padding: 10px;
min-width: 600px;
border: 1px solid #d7d8d8;
border-radius: 15px;

}


form input:focus, form textarea:focus {     /*quando clica no input*/

background-color: rgb(242, 250, 252);

}

.formsbutton {

background-color:#2c3e50;
color: white;
cursor: pointer;
width: 200px;
padding: 10px;
border-radius: 25px;
outline: unset;
font-family: "Playfair Display";
font-size: 25px;
border: unset;
margin-left: 400px;



}

.formsbutton:hover{

background-color: #3e6080;


}




select  {

border: 1px solid #d7d8d8;
border-radius: 12px;
padding: 7px;
outline: unset;
cursor: pointer;


}




.contato-inputs{

    font-family: 'Playfair Display';
    font-size: 20px;
    color:#6d6c6c

}





/*PÁGINA SOBRE NÓS*/


.historia{

align-items: center;
display: inline-block;
font-weight: bold;
margin-left: 600px;
padding: 0%;
position: relative;
bottom: 40px;
}




.section1{

display:flex;
align-items: center;
margin: 0;
padding:0;
}

.section2{


    align-items: center;
    margin: 0;
    padding:0;
    display: inline-block;
  
    }




.text-sn1 {

    padding: 10px;
    align-items:center;
    margin-right: 20px;
    margin-left: 10px;
    font-family: 'Playfair Display';
    font-size: 25px;
    font-weight: 800px;
    text-align: justify;
    line-height: 37px;
}
    
.text-sn2 {

    align-items:center;
    margin-top: 20px;
    font-family: 'Playfair Display';
    font-size: 23px;
    text-align: justify;
    line-height: 37px;
    margin-left: 60px;
    font-weight: 800px;
    width: 50%;
    padding: 10px;


}


.foto-sn img {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 30px;
    display: flex;
    width: 600px;
    box-shadow: 4px 4px 20px rgb(122, 122, 122);
    
}

.foto-sn1 img {
    margin-left: 60px;
    margin-top: 20px;
    border-radius: 30px;
    display: flex;
    width: 400px;
    box-shadow: 4px 4px 20px rgb(122, 122, 122);
    
}

.foto-sn2 img {
    margin-top: 10px;
    margin-right: 70px;
    border-radius: 30px;
    width: 700px;
    display: flex;
    margin-left: 20px;
    margin-bottom: 70px ;
    float:right;
    box-shadow: 4px 4px 20px rgb(122, 122, 122);
}



/*Carrossel Página Inicial*/


.menu-carousel {
    position: relative;
    text-align: center;
    margin: 30px auto;
    padding: 20px;
    background-color: #f4f4f4; /* Cor de fundo do carrossel */
    border-radius: 16px;
    max-width: calc((150px * 5) + (15px * (5 - 1))); /* Exatamente 5 itens com espaçamento */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Oculta itens excedentes */
    box-shadow: 4px 4px 10px rgb(187, 187, 187);
}

.menu-items {
    display: flex;
    gap: 15px; /* Espaço entre os itens */
    width: max-content; /* Largura depende do número total de itens */
    position: relative;
    transition: transform 0.5s ease-in-out; /* Suaviza o movimento */
}

.menu-item {
    flex: 0 0 150px; /* Cada item ocupa 150px */
    text-align: center;
}

.menu-item img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.menu-item p {
    font-family: 'Cinzel', sans-serif;
    font-size: 1rem;
    margin-top: 20px;
    color: #333;
    font-weight: bold;
}

.menu-carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.829);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    z-index: 10;
    font-weight: bolder;
    width: 45px;
    height: 45px;

}

.menu-carousel button:hover {

    background-color: #fcfcfc56;

}

.menu-carousel .prev-menu {
    left: 15px; /* Botão à esquerda */
}

.menu-carousel .next-menu {
    right: 15px; /* Botão à direita */

}


.menu-item a {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Herda a cor do elemento pai */
    font-weight: bold; /* Mantém o texto em negrito */
}

.menu-item a:hover {
    color: #f39c12; /* Define uma cor para o hover */
    text-decoration: none; /* Garante que o sublinhado não apareça no hover */
}

#rodape {

font-size: 20px;
text-align: center;
padding-top: 50px;
padding-bottom: 40px;
background-color: white;

}

#rodape-sobre-nos {

    font-size: 20px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: white;
    
    }

    .title-section {
        text-align: center;
        position: relative;
        margin: 40px 0;
    }
    
    .title-section h2 {
        font-family: 'Playfair Display', serif;
        font-size: 2.5rem;
        color: #000;
        display: inline-block; /* Para centralizar o título */
        position: relative;
        padding: 0 20px; /* Cria espaço entre o texto e os ícones */
    }
    
    .icon-burger-left,
    .icon-burger-right {
        position: absolute;
        top: 50%; /* Alinha verticalmente ao centro do título */
        transform: translateY(-50%);
    }
    
    .icon-burger-left {
        left: -40px; /* Ajuste fino para o ícone da esquerda */
    }
    
    .icon-burger-right {
        right: -40px; /* Ajuste fino para o ícone da direita */
    }
    
    .icon-burger-left img,
    .icon-burger-right img {
        height: 50px; /* Tamanho do ícone */
        width: auto;
    }
    
    @media (max-width: 768px) {
        .title-section h2 {
            font-size: 1.8rem; /* Reduz o tamanho do título em telas pequenas */
        }
    
        .icon-burger-left {
            left: -25px; /* Ajusta a posição do ícone para telas pequenas */
        }
    
        .icon-burger-right {
            right: -25px; /* Ajusta a posição do ícone para telas pequenas */
        }
    
        .icon-burger-left img,
        .icon-burger-right img {
            height: 40px; /* Ícones menores para telas pequenas */
        }
    }
    
/* Sobremesas */

.text-sn3 {

    padding: 60px;
    align-items:center;
    margin-right: 20px;
    margin-left: 10px;
    font-family: 'Playfair Display';
    font-size: 30px;
    font-weight: 800px;
    text-align: justify;
    line-height: 37px;
    background-color: #383b3d;   /* Cor de fundo */
    color: white;
    border-radius: 30px;
}